body {
    font-family: "Roboto", sans-serif;
    line-height: 1.21;
    color: #434455;
    background-color:#FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img{
    display: block;
}

 .container {
    width: 1158px;
     margin: 0 auto;
     padding: 0 15px;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

  .section {
      padding-top: 120px;
      padding-bottom: 120px;
  }


.header-nav {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navi{
    display: flex;
    align-items: center;
}

.link-text{}

.div-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-nav{
    padding: 24px 0;
    display: block;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
    padding: 24px 0;
}

.header-menu-list{
    display: flex;
}

.link-nav.current{
    position: relative;
    color: #404bbf;
}

.current::after{
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: #404bbf;
    left: 0;
    bottom: -1px;
}

.header-menu-list li{
    margin-right: 0;
}

.header-menu-list li:not(:last-child) {
    margin-right: 40px;
}

.logo-black {
    color:#2e2f42;

}

.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    color: #2e2f42;

    transition-property: color;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover{
    color:#404bbf
}

.link-nav:focus{
    color:#404bbf ;
}

.address-item{
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.address-itemli:last-child {
    margin-right: 0;
}

.address-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition-property: color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-text:hover,
.address-text:focus{
    color: #404bbf;
}

.business {
    background: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.business-div{
    align-items: center;
}

.business-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.business-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.business-button:hover,
.business-button:focus{
   background-color: #404BBF;
}

.strategy{
    padding-top: 120px;
    padding-bottom: 120px;
}

.strategy-list {
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.strategy-listli:last-child {
    margin-right: 0;
}

.strategy-iteil {
    width: calc((100% - 72px) / 4)
}

.div-antenna{
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.strategy-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.strategy-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.team {
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.div-head{
    padding: 32px 0;
}

.team-iteil {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 3 * 24px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-iteil:last-child {
    margin-right: 0;
}

.team-img {}

.soc-team{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.soc_team{
    width: 40px;
    height: 40px;
}

.insta{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram{
    fill:#f4f4fd;
}

.insta:hover,
.insta:focus{
    background-color: #404bbf;
}

.team-head {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color:#434455;
    margin-bottom: 8px;
}

.portfolio {}

.portfolio-item{
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.portfolio-item:hover .text-banking{
    transform: translateY(0);
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-item{
    transition-property: box-shadow;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.div-portfolio{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.div-banking{
    position: relative;
    overflow: hidden;
}

.text-banking{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    font-size: 16px;
    background-color:#4d5ae5;
    height: 100%;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.footer{
    background: #2e2f42;
    padding: 100px 0;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    align-items: center;
}

.logo-white {
    color: #f4f4fd;
}


.text-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 270px;
}

.div-footer{
    display: flex;
    align-items: baseline;
}

.div-subscribe{
    margin-left: 80px;
}

.footer-subscride{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-email{
    border: 1px solid #fff;
border-radius: 4px;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
color: #ffffff;
}

.form-footer{
    display: flex;
    gap: 24px;
}

.footer-email::placeholder{
    font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
padding-left: 16px;
padding-top: 8px;
}

.footer-btn{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
padding: 8px 24px;
border-radius: 4px;
min-width: 165px;
height: 40px;
background: #4d5ae5;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
cursor: pointer;
border: none;
}

.footer-icon{
    fill: #ffffff;
    margin-left: 16px;
}

.star{
    margin-right: 120px;
}

.icon-soc{
    display: flex;
    gap: 16px;
}

.soc-hover{
    width: 40px;
    height: 40px;
}

.soc{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc:hover,
.soc:focus{
    background-color: #31d0aa
}

.twitter{
    fill: #f4f4fd;
}

.footer-head{
    display: flex;
    flex-direction: column;
}

.footer-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.bacdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bacdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.button-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    cursor: pointer; 
}



.close-modal{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer; 
    background-color: #e7e9fc;
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus{
   background-color: #404bbf;
   fill: #ffffff;
   border: none; 
}

.text-modal{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.modal-input{ 
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent; 
}

.modal-input:focus{
    border: 1px solid #4d5ae5;
}

.modal-input:focus + .icon-user{
    fill: #4d5ae5;
}

.input-wrap{
    position: relative;
}

.icon-user{
    width: 18px;
    height: 24px;
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrap-div{
    margin-bottom: 8px;
}

.wrap-coment{
    margin-bottom: 16px;
}

.name-label{
    font-weight: 400;
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px; 
}

.modal-texarea{
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
font-size: 12px; 
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4); 
background-color: transparent;
width: 360px;
height: 120px;
padding: 8px 16px; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
resize: none;
}

.div-check{
    margin-bottom: 24px;
}

.text-cekh{
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-top: 22px;
margin-bottom: 22px;
}

.modal-texarea::placeholder{
    font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}

.link-privacy{
    line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.selekt{
    display: inline-flex; 
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-textarea:checked + .text-cekh .selekt{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.send-btn{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
cursor: pointer;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
display: flex;
align-items: center;
justify-content: center;
display: block; 
margin: 0 auto;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}